# Node / Frontend
hms-frontend/node_modules/
hms-frontend/dist/
hms-frontend/.env
hms-frontend/.env.local
hms-frontend/.env.development.local
hms-frontend/.env.test.local
hms-frontend/.env.production.local
hms-frontend/npm-debug.log*
hms-frontend/yarn-debug.log*
hms-frontend/yarn-error.log*

# Java / Maven / Backend
hms-backend/target/
hms-backend/.mvn/
hms-backend/mvnw
hms-backend/mvnw.cmd
hms-backend/*.log
hms-backend/.idea/
hms-backend/*.iml
hms-backend/.settings/
hms-backend/.project
hms-backend/.classpath
hms-backend/bin/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# App Uploads / Storage
hms-backend/uploads/
uploads/
